<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title><img src="assets/logo.png" style="width: 55%; margin-top: 12px;"></ion-title>
    <ion-buttons slot="end" (click)="gotoMyprofile()">
      <ion-icon name="person-circle-outline" class="account_icons"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row *ngFor="let item of userList" class="rows">
    <ion-col size="12">
      <img src="{{item.images}}" width="100%">
    </ion-col>
    <ion-col size="10">
      <p style="margin: 5px;">{{item.name}} - {{item.age}} Years</p>
    </ion-col>
    <ion-col size="2" style="text-align: end;">
      <ion-icon name="chatbubble-ellipses-outline" (click)="enquiry()" style="font-size: 25px;"></ion-icon>
    </ion-col>
    <!-- <ion-col size="1.5">
      <ion-icon color="danger" name="heart-circle-outline" style="font-size: 25px;"></ion-icon>
    </ion-col> -->
  </ion-row>
</ion-content>